<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-xl-8 col-lg-12">
			<img src="~/images/user/stepit.jpg" alt="" class="img-fluid pt-2 pb-5">

			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<h1 class="mb-3">About</h1>
					<p>STEP IT Academy has been a leader in IT education since 1999. We are a large organization with hundreds of thousands of graduates worldwide. We specialize in IT education for both children and adults.</p>
					<p>During the lesson, we pay the greatest attention to practice. Our curriculum is always aligned with the IT industry and updated regularly. We make sure that we always provide the most relevant and in-demand knowledge to our graduates to help them become part of the best IT companies in the world.</p>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					<p>We are often asked how we are leaders in countries such as Brazil, Mexico, America, Cambodia, Georgia, Romania, Bulgaria, Switzerland, and Ukraine.</p>
					<p>In fact, there is no secret. We know exactly what is required in the labor market. We are sure that quality IT education is built on 3 main pillars: professional trainers, modern curriculum and thoughtful infrastructure.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row d-flex flex-column py-3">
		<h1 class="h1 mb-3" style="text-align: center">The Team</h1>

		<div class="row d-flex justify-content-center mt-1">
			<div class="card mx-3">
				<img class="card-img-top" src="~/images/user/adilabbasov.png" alt="Card image cap" style="width:300px; height:370px">
				<div class="card-body mx-auto">
					<p class="card-text">Abbasov Adil</p>
				</div>
			</div>
			<div class="card mx-3">
				<img class="card-img-top" src="~/images/user/hasanrzayev.jpg" alt="Card image cap" style="width:300px; height:370px">
				<div class="card-body mx-auto">
					<p class="card-text">Rzayev Hesen</p>
				</div>
			</div>
		</div>
	</div>
</div>
