<div class="container-fluid registration-page p-0" id="login-page">
	<div class="container-fluid registration-page-bg">
		<div class="register-as">
			<h1>Login as</h1>

			<div style="display: flex; align-items: center; justify-content: center">
				<a asp-action="LogIn" asp-controller="User">User</a>
				<a asp-action="LogIn" asp-controller="Company">Company</a>
			</div>
		</div>
	</div>
</div>